.container {
    min-height: 800px;
    border: 8px solid black;
    display: flex;
    justify-content: row-reverse;
}

.box {
    height: 200px;
    width: 200px;
    background-color: red;
    font-size: 40pt;
}

.appointment-card {
    background: #fff;
    border: 1px solid #e3e7ee;
    border-radius: 15px;
    padding: 20px;

    height: 600px;

    display: flex;
    flex-direction: column;
}

.appointment-header {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 50px;
    background-color: #a3d0df;
    align-items: center;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}

.appointment-list {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 5px;
}

.text-muted {
    color: #6c757d;
    opacity: 0.65;
}