<div class="grid grid-nogutter">

    <div class="col-12" style="display: flex; flex-direction: row; justify-content: space-between; height: 65px;">
        <div class="col-6" style="display: flex; align-items: center;">
            <h2 style="font-family: Inter, -apple-system, BlinkMacSystemFont,Segoe UI,sans-serif; font-size: 20px;">
                Appointments</h2>
        </div>
    </div>

</div>

<div class="col-12" style="display: flex; flex-direction: row; gap: 15px">
    <div class="col-12 appointment-card">
        <div class="appointment-header">
            <span style="font-weight: bold; font-size: 15px;">Patients List</span>
            <!-- <span style="font-weight: bold; color: #2563EB; font-size: 15px; cursor: pointer;">View all</span> -->
        </div>
        <div class="appointment-list">

            <div class="card">
                <!-- <div class="mb-4 flex gap-1">
                    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" text />
                    <p-button type="button" icon="pi pi-refresh" (click)="reset()" text />
                    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" text />
                </div> -->
                <p-table [value]="pagedCustomers" stripedRows [paginator]="false" [rows]="rows"
                    [tableStyle]="{ 'min-width': '50rem' }" [first]="first" [rowsPerPageOptions]="[5, 10, 20]"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template #header>
                        <tr>
                            <th style="width:10%">Patient</th>
                            <th style="width:10%">Age</th>
                            <th style="width:10%">Date & Time</th>
                            <th style="width:10%">Status</th>
                            <th style="width:10%">Doctor</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-customer>
                        <tr>
                            <td>{{ customer.name }}</td>
                            <td>{{customer.age}}</td>
                            <td>
                                <p>{{customer.date}}</p>
                                <span class="text-muted">{{customer.time}}</span>
                            </td>
                            <td>
                                <p-tag *ngIf="customer.status?.toLowerCase() === 'discharged'" value="Discharged"
                                    severity="danger">
                                </p-tag>
                                <p-tag *ngIf="customer.status?.toLowerCase() === 'admitted'" value="Admitted"
                                    severity="contrast">
                                </p-tag>
                                <p-tag *ngIf="customer.status?.toLowerCase() === 'outpatient'" value="OutPatient"
                                    severity="info">
                                </p-tag>
                            </td>
                            <td>{{ customer.doctor }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-12" style="display: flex; justify-content: right;">
            <p-paginator [first]="first" [rows]="rows" [totalRecords]="customers.length"
                [rowsPerPageOptions]="[5,10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
                (onPageChange)="onPageChange($event)">
            </p-paginator>
        </div>
    </div>
</div>