<div class="grid grid-nogutter"></div>

    <div class="col-12" style="display: flex; flex-direction: row; justify-content: space-between; height: 65px;">
        <div class="col-6" style="display: flex; align-items: center;">
            <h2 style="font-family: Inter, -apple-system, BlinkMacSystemFont,Segoe UI,sans-serif; font-size: 20px;">
                Today's Appointments</h2>
        </div>
        <div class="col-6"
            style="display: flex; flex-direction: row; justify-content: right; gap: 5px; align-items: center;">
            <p-button label="+ Admit/Register Patient" (click)="patientRegistration()" />
            <p-button label="Discharge" severity="danger" />

        </div>
    </div>

</div>