<span>Back to Home</span>

<div class="col-12" style="display: flex; flex-direction: row; justify-content: space-between; margin-bottom: 20px;">
    <div style="display: flex; flex-direction: row; gap: 15px; align-items: center;">
        <h2>Joginder Das</h2>
        <p-tag value="Discharged" severity="danger"></p-tag>
    </div>
    <div style="display:flex; gap:5px; align-items: center; padding: 10px;">
        <p-button label="Update Info" />
        <p-button disabled label="Delete" severity="danger" />
    </div>
</div>


<div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 16px 16px">
    <div style="border-radius: 5px; background-color: #ffffff; padding: 15px; border-radius: 10px; border: 1px solid #e3e7ee;">
        <div style="margin-bottom: 20px; font-size: 14px; font-weight: bold;">Personal Information</div>
        <div style="display: grid; grid-template-columns: repeat(2, 1fr);grid-template-columns: 200px 1fr; row-gap: 10px; column-gap: 10px; ">
            <div style="font-weight: 500; color: #667085;">Date of Birth</div>
            <div style="font-weight: normal; color: #667085;">30-Mar-1950 (76 yrs)</div>
            <div style="font-weight: 500; color: #667085;">Gender</div>
            <div style="font-weight: normal; color: #667085;">Male</div>
            <div style="font-weight: 500; color: #667085;">Phone</div>
            <div style="font-weight: normal; color: #667085;">+91-6655847582</div>
            <div style="font-weight: 500; color: #667085;">Email</div>
            <div style="font-weight: normal; color: #667085;">Joginder.das1234@gmail.com</div>
            <div style="font-weight: 500; color: #667085;">Address</div>
            <div style="font-weight: normal; color: #667085;">Joginder Das s/o Dharam Pal <br> Village Shalimar <br> Dis Gurdaspur <br> Pin: 143520</div>
            <div style="font-weight: 500; color: #667085;">Blood Group</div>
            <div style="font-weight: 700; color: #667085;">
                <p-tag value="A+" style="background-color: red; color: white; font-size: 18px;"></p-tag>
            </div>
            
        </div>
    </div>
   
    <div style="border-radius: 5px; background-color: #ffffff; padding: 15px; border-radius: 10px; border: 1px solid #e3e7ee;">
        <div style="margin-bottom: 20px; font-size: 14px; font-weight: bold;">Clinical Information</div>
        <div style="display: grid; grid-template-columns: repeat(2, 1fr);grid-template-columns: 200px 1fr; row-gap: 10px; column-gap: 10px; ">
            <div style="font-weight: 500; color: #667085;">Assigned Doctor</div>
            <div style="font-weight: normal; color: #667085;">Dr. Deepali</div>
            <div style="font-weight: 500; color: #667085;">Admission Date</div>
            <div style="font-weight: normal; color: #667085;">12-an-2024 03:35 PM</div>
            <div style="font-weight: 500; color: #667085;">Discharge Date</div>
            <div style="font-weight: normal; color: #667085;">14-an-2024 06:36 PM</div>
            <div style="font-weight: 500; color: #667085;">Case Type</div>
            <div style="font-weight: normal; color: #667085;">Emergency</div>
            <div style="font-weight: 500; color: #667085;">Department</div>
            <div style="font-weight: normal; color: #667085;">Cardiact</div>
            <div style="font-weight: 500; color: #667085;">Diagnosis</div>
            <div style="font-weight: normal; color: #667085;">Some heart related diagnosis information.</div>
            <div style="font-weight: 500; color: #667085;">Allergies</div>
            <div style="font-weight: 700; color: #667085;">
                <p-tag value="Peanuts, Tea, Penicillin, Garlic" style="background-color: red; color: white; font-size: 18px;"></p-tag>
            </div>
            
        </div>
    </div>
    <div style="border-radius: 5px; background-color: #ffffff; padding: 15px; border-radius: 10px; border: 1px solid #e3e7ee;">
        <div style="margin-bottom: 20px; font-size: 14px; font-weight: bold;">Emergency Contacts</div>
        <div style="display: grid; grid-template-columns: repeat(2, 1fr);grid-template-columns: 200px 1fr; row-gap: 10px; column-gap: 10px; ">
            <div style="font-weight: 500; color: #667085;">Name</div>
            <div style="font-weight: normal; color: #667085;">Gaytri Devi</div>
            <div style="font-weight: 500; color: #667085;">Gender</div>
            <div style="font-weight: normal; color: #667085;">Female</div>
            <div style="font-weight: 500; color: #667085;">Phone</div>
            <div style="font-weight: normal; color: #667085;">+91-6655847582</div>
            <div style="font-weight: 500; color: #667085;">Email</div>
            <div style="font-weight: normal; color: #667085;">Joginder.das1234@gmail.com</div>
            <div style="font-weight: 500; color: #667085;">Address</div>
            <div style="font-weight: normal; color: #667085;">Joginder Das s/o Dharam Pal <br> Village Shalimar <br> Dis Gurdaspur <br> Pin: 143520</div>
            <div style="font-weight: 500; color: #667085;">Relation</div>
            <div style="font-weight: 700; color: #667085;">
                <p-tag value="Sister" style="background-color: green; color: white; font-size: 18px;"></p-tag>
            </div>
            
        </div>
    </div>
    <div style="border-radius: 5px; background-color: #ffffff; padding: 15px; border-radius: 10px; border: 1px solid #e3e7ee;">
        <div style="margin-bottom: 20px; font-size: 14px; font-weight: bold;">Record Metadata</div>
        <div style="display: grid; grid-template-columns: repeat(2, 1fr);grid-template-columns: 200px 1fr; row-gap: 10px; column-gap: 10px; ">
            <div style="font-weight: 500; color: #667085;">Patient ID</div>
            <div style="font-weight: normal; color: #667085;">MRN-20267485</div>
            <div style="font-weight: 500; color: #667085;">Created On</div>
            <div style="font-weight: normal; color: #667085;">31-Jun-2021</div>
            <div style="font-weight: 500; color: #667085;">Created At</div>
            <div style="font-weight: normal; color: #667085;">Doaba Hospital (Amritsar)</div>
            <div style="font-weight: 500; color: #667085;">Last Updated</div>
            <div style="font-weight: normal; color: #667085;">23-Aug-2022 <span style="font-size:18px; font-weight: bold;">At Govt Hospital Patiala.</span></div>
            <div style="font-weight: 500; color: #667085;">Hospital Email</div>
            <div style="font-weight: normal; color: #667085;">CivilHospital34@gmail.com</div>
            <div style="font-weight: 500; color: #667085;">Address</div>
            <div style="font-weight: normal; color: #667085;">Civil Hospital <br>Matka Road <br>Patiala <br> Pin: 185429</div> 
        </div>
    </div>
</div>